################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/Properties
*.js.map
*.js
*/packages
*.csproj.user
*.suo

*.zip
Snake/~$ory plan.docx
/OOPDraw/~$acher's Guide.docx
/OOPDraw/~$udent Workbook.docx
*.tmp
