################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
**/Properties
*.js.map
*.js
*/packages
FileReadingAndWriting/.vs/FileReadingAndWriting/v14/.suo
/PredatorPreyRefactor/.vs/PredatorPreyRefactored/v14/.suo
